


.card {
  background-color: cadetblue;
}

.social{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


/* .fade-left-container {
  position: relative;
}

.fade-left-item {
  position: absolute;
  top: 0;
  opacity: 0;
  animation: fadeLeft 1.5s ease-in-out forwards;
} */



/* Data.css */
@media (max-width: 480px) {
  .MuiAccordionDetails-root {
    max-width: 250px;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-left-animation div {
  animation: slideLeft 5s;
}

.slide-right-animation div {
  animation: slideRight 5s;
}











